.dropdown {
    position: relative;

    &-header {
        background: $grey-color;
        padding: 10px 20px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &-body{
        position: absolute;
        margin-top: 5px;
        z-index: 5;
        background: $grey-color;
        width: 100%;
        border-radius: 6px;
        display: none;
        flex-direction: column;
        gap: 0px;
        padding: 10px 0;
        &-option{
            padding: 1px 20px;
            cursor: pointer;
        }


        &.active{
            display: flex;
        }
    }
}
