.swal2-modal{

    background: $red-color;
    color: $white-color;

}

.modal-login {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .modal-content {
        max-width: 400px;
        background: #54039f;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 0 100px -20px $black-color inset,
            -10px 0px 15px #7000da inset, 10px 0px 15px #7000da inset;

        .modal-header {
            border: none !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            opacity: 1;

            button {
                color: $white-color;
            }

            i {
                color: $white-color;
                cursor: pointer;
            }
        }

        .btn-secondary {
            background: transparent;
            border: 1px solid $secondary-color;

            &:hover {
                border: 1px solid $white-color;
                transition: 0.2s;
            }
        }

        .modal-body {

            .create-account{

                .dropdown-header{
                    background: transparent;
                    border: 2px solid $white-color;
                    padding: 5px 10px;
                    gap: 5px;
                }

            }
            &-container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .error-message {
                    background: $red-color;
                    padding: 5px;
                    border-radius: 6px;
                    font-weight: 400;
                    font-size: 12px;
                }

                &-input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    position: relative;
                    border: 2px solid $white-color;
                    border-radius: 6px;
                    height: 40px;

                    &.error {
                        border: 2px solid $white-color;

                        span {
                            color: $red-color;
                        }
                    }

                    span {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;

                        &.eye-span {
                            top: 10px;
                            right: 10px;
                            left: initial;
                            cursor: pointer;
                        }
                    }

                    input {
                        outline: none;
                        background: transparent;
                        border: none;
                        color: $white-color;
                        padding: 5px 10px;
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:focus {
                        transition: background-color 600000s 0s,
                        color 600000s 0s;
                    }
                    input[data-autocompleted] {
                        background-color: transparent !important;
                    }
                }
            }

           @import "./input-file-custom";


            .forget-password {
                margin-top: 5px;
            }
        }

        .modal-footer {
            border: none !important;
            justify-content: space-between;
        }
    }
}
