.swal2-modal{

    background: $red-color;
    color: $white-color;

}

.modal-login {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .modal-content {
        max-width: 400px;
        background: #54039f;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0 0 100px -20px $black-color inset,
            -10px 0px 15px #7000da inset, 10px 0px 15px #7000da inset;

        .modal-header {
            border: none !important;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            opacity: 1;

            button {
                color: $white-color;
            }

            i {
                color: $white-color;
                cursor: pointer;
            }
        }

        .btn-secondary {
            background: transparent;
            border: 1px solid $secondary-color;

            &:hover {
                border: 1px solid $white-color;
                transition: 0.2s;
            }
        }

        .modal-body {

            .create-account{

                .dropdown-header{
                    background: transparent;
                    border: 2px solid $white-color;
                    padding: 5px 10px;
                    gap: 5px;
                }

            }
            &-container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .error-message {
                    background: $red-color;
                    padding: 5px;
                    border-radius: 6px;
                    font-weight: 400;
                    font-size: 12px;
                }

                &-input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    position: relative;
                    border: 2px solid $white-color;
                    border-radius: 6px;
                    height: 40px;

                    &.error {
                        border: 2px solid $red-color;

                        span {
                            color:$white-color;
                        }
                    }

                    span {
                        position: absolute;
                        top: 5px;
                        left: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 5px;

                        &.eye-span {
                            top: 10px;
                            right: 10px;
                            left: initial;
                            cursor: pointer;
                        }
                    }

                    input {
                        outline: none;
                        background: transparent;
                        border: none;
                        color: $white-color;
                        padding: 5px 10px;
                    }

                    input:-webkit-autofill,
                    input:-webkit-autofill:focus {
                        transition: background-color 600000s 0s,
                        color 600000s 0s;
                    }
                    input[data-autocompleted] {
                        background-color: transparent !important;
                    }
                }

                .custom-multiple-choice{
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;


                    &-btn{
                            border: 2px solid $white-color;
                            padding: 5px 10px;
                            border-radius: 6px;
                            font-size: .875rem;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            cursor: pointer;

                            div{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 6px;

                                img{
                                    height: 15px;
                                }
                            }

                    }


                    &-body{

                        position: absolute;
                        top: 40px;
                        background: $secondary-color;
                        width: 100%;
                        z-index: 6;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        border-radius: 6px;
                        box-shadow: 0px 10px 40px #191919;

                        &-item{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            padding: 10px 20px;
                            border-radius: 6px;
                            overflow: hidden;
                            position: relative;
                            cursor: pointer;

                            &:hover{

                                box-shadow: 0 0 65px $orange-color inset;

                                transition: 0.2s ease;

                            }


                            &-checkbox{
                                height: 25px;
                                width: 25px;
                                border: 2px solid $white-color;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                transition: all .2s;

                                i{
                                    transform: scale(0);
                                    transition: all .2s;
                                }

                                &.checked{

                                    i{
                                        transform: scale(0.9);
                                        color: $orange-color;
                                    }

                                }
                            }

                            &:not(:last-child):after{

                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 1px;
                                background: rgba(255, 255, 255, 0.329);

                            }
                            img{
                                width: 25px;
                            }


                            &-info{
                                display: flex;
                                flex-direction: row;
                                gap: 5px;
                                align-items: center

                            }
                        }

                    }
                }
            }

           @import "./input-file-custom";


            .forget-password {
                margin-top: 5px;
            }
        }

        .modal-footer {
            border: none !important;
            justify-content: space-between;
        }
    }
}
