$black-color: #191919;
$white-color: #f3f8ff;
$dark-white-color: #c7c7c7;
$grey-color: #3D3B40;

$primary-color: #000216;
$secondary-color: #54039F;
$dark-secondary-color: #3d0075;
$orange-color: #F97300;
$red-color: #D80032;
$blue-color: #1d24ca;

$iron-color:#4f4f4f;
$bronze-color:#a5855d;
$silver-color: #828481;
$gold-color: #ecc84f;
$platinium-color: #39a3b2;
$diamond-color: #a872f1;
$ascendente-color: #21a860;
$imortal-color: #ad3670;
$radiant-color: #f0f1e8;
